[template]
src = "bird6.cfg.{{if (json (getv "/node_mesh")).enabled}}mesh{{else}}no-mesh{{end}}.template"
dest = "/etc/calico/confd/config/bird6.cfg"
prefix = "/calico/bgp/v1"
keys = [
    {{if (json (getv "/node_mesh")).enabled}}"/host"{{else}}"/host/{{getenv "NODENAME"}}"{{end}},
    "/global"
]
check_cmd = "bird6 -p -c {{"{{"}}.src{{"}}"}}"
reload_cmd = "pkill -HUP bird6 || true"
