.search-container {
    display: none;
}

.search-container__results .algolia-docsearch-suggestion--highlight {
    color: #c7254e;
    background-color: #f9f2f4;
}

.ais-result {
    margin-bottom: 15px;
    border-left: solid 1px #ddd;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.popover {
    max-width: unset;
    width: 400px;
}

.search-result__category > * {
    color: black;
    font-size: 20px;

    border-bottom: 1px grey solid;
}

.search-result__subcategory > * 
{
    color: gray;
    font-size: 18px;
}

.search-result__subsubcategory > *,
.search-result__subsubsubcategory > *
{
    color: gray;
    font-size: 16px;
}

.search-result__content > *
{
    color: gray;
    font-size: 14px;
}

.search-result__columns {
    display: flex;
    justify-content: center
}

.search-result__left-column {
    flex-basis: 1;
    flex-grow: 0;
}

.search-result__right-column {
    flex-basis: 1;
    flex-grow: 0;

    margin-left: 5px;
    padding-left: 5px;
}
