.search-container {
    display: none;
}

.search-container__results .algolia-docsearch-suggestion--highlight {
    color: #c7254e;
    background-color: #f9f2f4;
}

.ais-content {
    color: #63676d;
}

.ais-lvl0 {
    color: black;
    font-size: 1.1em
}

.ais-result {
    margin-bottom: 15px;
    border-left: solid 1px #ddd;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.popover {
    max-width: unset;
    width: 400px;
}