---
---
@import "../_sass/bootstrap";
@import "../css/sidebar";

table {
  @extend .table;
  @extend .table-bordered;
}

// Default blockquotes are too big in Bootstrap.
// Shrink them down
blockquote {
  font-size: inherit;
}


#getting-started-icons {
  img {
    max-height: 94px;
  }
  h3 {
    text-align: center;
  }
}

// Set height to prevent weird bug where sidebar is clipped at bottom.
html {
  height: 100%;
}
body {
  height: 100%;
}
