---
---
@import "../css/variables";
@import "../_sass/bootstrap/bootstrap";

@import "../css/sidebar";
@import "../css/section_index";

// By default bootstrap doesn't apply many styles to table elements
// unless they have class .table and .table-bordered
// These lines here extend the table so it automatically gets those
// stylings and look like real tables without having to add
// that class to everything.
#content-main {
  table {
    @extend .table;
    @extend .table-bordered;
  }

  img {
    @extend .img-responsive;
  }
}

// Default blockquotes are too big in Bootstrap.
// Shrink them down
blockquote {
  font-size: inherit;
}

// Set height to prevent weird bug where sidebar is clipped at bottom.
html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-x: visible;
}

h2,h3,h4,h5,h6 {
  margin-top: 30px;
}

pre code {
  white-space: pre;
}

div.alert-warning {
  background-color: #FFFF7E;
  color: #C7254E;
}

div.highlight {
  position: relative;
}

.code-toolbar {
  position: absolute;
  right: 10px;

  &__copy-button,
  &__download-button {
    margin-left: 10px;
    font-size: 16px;
    color: #FF7E00;

    &:hover {
      cursor: pointer;
    }
  }
}

#toplevel-nav {
  -webkit-box-shadow: 0px 0px 8px 1px #666;
  -moz-box-shadow: 0px 0px 8px 1px #666;
  box-shadow: 0px 0px 8px 1px #666;
}

// Fix conflicts between bootstrap theme and custom search theme.
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.toc {
  color: #004078;
  list-style-type: none;
  padding-left: 0;

  &__nested {
    list-style-type: none;
  }

  ul {
    padding-left: 15px;
  }

  a:hover,
  a:focus {
    color: #f69432;
  }
}

.current {
  color: #f79518;
}


input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}

#tigera-navbar ul.nav li a {
    @media (max-width: $screen-sm-min) {
        padding: 10px 0;
    }
    @media (min-width: $screen-xs-max) {
        padding: 0 0;
    }
}

// Submenu Navigation for Desktop
#tigera-navbar ul.nav li ul {
    position: absolute;
    display: none;
    margin-top: 20px;
    margin-left: -10px !important;
    background: #004078;
    z-index: 1000;
}

@media screen and (min-width: 999px) {

    #tigera-navbar ul.nav {
        li {
            height: 44px;

            ul {
                margin: 24px 0 0 0;
                padding: 0;

                li {
                    min-height: 24px !important;
                    display: block;
                    padding: 8px 18px 8px 10px;
                    overflow: hidden;
                    width: 200px;
                    margin: 0;
                    border-top: 1px dashed #999;

                    a {
                        color: #fff;
                        font-size: 14px;
                    }

                    a:hover {
                        color: $navbar-default-link-hover-color !important;
                        text-decoration: none;
                    }
                }

                li:first-child {
                    border-top: none;
                }
            }
        }

        li:hover ul {
            display: block;
        }
    }
}

.read-time {
  padding-bottom: 10px;
  color: #666;

  &__icon {
    top: 2px;
  }
}

.main-content {
  $grid-column-gap: 20px;
  display: grid;
  grid-template-columns: [article] 100%;
  grid-column-gap: $grid-column-gap;

  .toc-container {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    .sidebar-container {
      padding-right: $grid-column-gap;
    }
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: [sidebar] 30% [article] calc(70% - #{$grid-column-gap});
  }

  @media (min-width: $screen-md-min) {
    grid-template-columns: [sidebar] 20% [article] calc(60% - #{$grid-column-gap * 2}) [toc] 20%;

    .toc-container {
      display: block;
    }
  }

  @media (min-width: $screen-lg-min) {
    grid-template-columns: [sidebar] 15% [article] calc(70% - #{$grid-column-gap * 2}) [toc] 15%;
  }
}

$wpfront-notification-bar-spacer-height: 55px;
$sticky-top: $wpfront-notification-bar-spacer-height + $navbar-margin-bottom;

.sidebar {
  position: sticky;
  top: $sticky-top;

  #sidebar-accordion {
    max-height: calc(100vh - 250px);

    @media (min-width: $screen-sm-min) {
      overflow-y: auto;
    }
  }
}

.sticky-toc {
  position: sticky;
  top: $sticky-top;

  .toc {
    max-height: calc(100vh - 250px);

    @media (min-width: $screen-md-min) {
      overflow-y: auto;
    }
  }
}
