[Unit]
Description=Calico
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/calico
ExecStart=/usr/bin/calicoctl node --detach=false

[Install]
WantedBy=multi-user.target
