pycparser==2.10
coverage==3.7.1
infi.docopt-completion==0.2.6
docopt==0.6.2
sh==1.11
requests==2.5.1
simplejson==3.6.5
docker-py==1.2.1
netaddr==0.7.14
prettytable==0.7.2
mock==1.0.1
PyInstaller==2.1
cffi==0.9.2
cryptography==0.8.2
enum34==1.0.4
pyOpenSSL==0.15.1
pyasn1==0.1.7
six==1.9.0
urllib3==1.10.3
websocket-client==0.30.0
