global_job_config:
  secrets:
    - name: docker-hub
    - name: google-service-account-for-gce
  env_vars:
    - name: GOOGLE_PROJECT
      value: unique-caldron-775
    - name: GCS_BUILD_CACHE_BUCKET
      value: calico-transient-build-artifacts-europe-west3
  prologue:
    commands_file: global-job-prologue
  epilogue:
    commands:
      - cd "$CALICO_DIR"
      - .semaphore/publish-artifacts
