global_job_config:
  secrets:
    - name: docker-hub
    - name: google-service-account-for-gce
  env_vars:
    - name: GOOGLE_PROJECT
      value: unique-caldron-775
    - name: GCS_BUILD_CACHE_BUCKET
      value: calico-transient-build-artifacts-europe-west3
  prologue:
    commands:
      - export GCS_BUILD_CACHE_BUCKET=calico-transient-build-artifacts-europe-west3
      - export GCS_CACHE_DIR=gs://$GCS_BUILD_CACHE_BUCKET/cache
      - export GCS_WORKFLOW_DIR=gs://$GCS_BUILD_CACHE_BUCKET/workflow/${SEMAPHORE_WORKFLOW_ID}
      - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
      - |-
        if [[ $(uname -m) != "x86_64" || -n "$ARCH" ]]; then
          echo "Skipping build cache for non-AMD build: $(uname -m)";
          export SKIP_CACHE_RESTORE=true;
        fi
      - gcloud auth activate-service-account --key-file="$GOOGLE_APPLICATION_CREDENTIALS" || true
      - gcloud config set project ${GOOGLE_PROJECT} || true
      - export CALICO_DIR_NAME=${SEMAPHORE_GIT_DIR}
      # For PRs, try to restore a build cache from the target branch of the PR.
      # This includes a working copy and associated build cache with consistent
      # file mtimes.  We then check out the PR commit on top of that working
      # copy, which will invalidate build cache entries only for files changed
      # in the PR. This must be inline in this file because it needs to run
      # before code is checked out.
      - sudo apt-get install -y zstd || true
      - restored_wc_cache=false
      - |-
        if [[ -n "${SEMAPHORE_GIT_PR_NUMBER}" && -z "$SKIP_CACHE_RESTORE" ]]; then
          echo "Running in the context of a PR: ${SEMAPHORE_GIT_PR_NUMBER}"
          # Look for a build cache from the target branch of the PR.
          gcs_branch_cache_dir="${GCS_CACHE_DIR}/${SEMAPHORE_GIT_BRANCH}"
          if gcloud storage cp "$gcs_branch_cache_dir/working-copy.tar.zstd" /tmp/working-copy.tar.zstd; then
            echo "Restoring cache for branch ${SEMAPHORE_GIT_BRANCH}"
            tar --use-compress-program=zstd -xf /tmp/working-copy.tar.zstd & tar_pid=$!
            downloaded_build_cache=false
            if [[ -n "$BUILD_CACHE_GROUP" ]]; then
              if gcloud storage cp "$gcs_branch_cache_dir/build-cache-${BUILD_CACHE_GROUP}.tar.zstd" /tmp/build-cache.tar.zstd; then
                echo "Found build cache for group ${BUILD_CACHE_GROUP}"
                downloaded_build_cache=true
              fi
            fi
            wait $tar_pid
            restored_wc_cache=true
            if ${downloaded_build_cache}; then
              echo "Extracting build cache"
              tar --use-compress-program=zstd -xf /tmp/build-cache.tar.zstd -C .
              rm /tmp/build-cache.tar.zstd
            fi
            cd "${CALICO_DIR_NAME}"
          fi
        fi || true
      - |-
        if [[ $restored_wc_cache != true && -z "$SKIP_CHECKOUT" ]]; then
          echo "No cache restored, doing a fresh checkout..."
          cd $HOME
          rm -rf "${CALICO_DIR_NAME}"
          git clone --filter=blob:none $SEMAPHORE_GIT_URL $CALICO_DIR_NAME
          cd "${CALICO_DIR_NAME}" || exit 1
        fi
      - |-
        if [[ -z "$SKIP_CHECKOUT" ]]; then
          git fetch origin --tags --prune-tags ${SEMAPHORE_GIT_SHA}
          if [ $SEMAPHORE_GIT_REF_TYPE = "branch" ]; then
            git checkout ${SEMAPHORE_GIT_SHA} -B "${SEMAPHORE_GIT_BRANCH}"
          else
            git checkout ${SEMAPHORE_GIT_SHA}
          fi
          CALICO_DIR="$(pwd)"
          export CALICO_DIR
          mkdir -p artifacts
        fi
      - echo $DOCKERHUB_PASSWORD | docker login --username "$DOCKERHUB_USERNAME" --password-stdin
  epilogue:
    commands:
      - cd $HOME
      - |-
        if [[ -n "$BUILD_CACHE_GROUP" && "$STORE_BUILD_CACHE" = "true" ]]; then
          echo "Storing build cache group ${BUILD_CACHE_GROUP}"
          tar --use-compress-program="zstd -3" -cf /tmp/build-cache.tar.zstd go ${CALICO_DIR_NAME}/.go-pkg-cache
          gcs_branch_cache_dir="${GCS_CACHE_DIR}/${SEMAPHORE_GIT_BRANCH}"
          gcloud storage cp /tmp/build-cache.tar.zstd "$gcs_branch_cache_dir/build-cache-${BUILD_CACHE_GROUP}.tar.zstd"
        fi
      - cd "$CALICO_DIR"
      - .semaphore/publish-artifacts
