global_job_config:
  secrets:
    - name: docker-hub
    - name: google-service-account-for-gce
  env_vars:
    - name: GOOGLE_PROJECT
      value: unique-caldron-775
    - name: GCS_BUILD_CACHE_BUCKET
      value: calico-transient-build-artifacts-europe-west3
  prologue:
    commands:
      - export GCS_BUILD_CACHE_BUCKET=calico-transient-build-artifacts-europe-west3
      - export GCS_CACHE_DIR=gs://$GCS_BUILD_CACHE_BUCKET/cache
      - export GCS_WORKFLOW_DIR=gs://$GCS_BUILD_CACHE_BUCKET/workflow/${SEMAPHORE_WORKFLOW_ID}
      - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
      - >-
        if [[ $(uname -m) != "amd_64" || -n "$ARCH" ]]; then
          echo "Skipping build cache for non-AMD build: $(uname -m)";
          export SKIP_CACHE_RESTORE=true;
        fi
      - '[ -n "$SKIP_CACHE_RESTORE" ] || gcloud auth activate-service-account --key-file="$GOOGLE_APPLICATION_CREDENTIALS"'
      - '[ -n "$SKIP_CACHE_RESTORE" ] || gcloud config set project ${GOOGLE_PROJECT}'
      - export CALICO_DIR_NAME=${SEMAPHORE_GIT_DIR}
      # For PRs, try to restore a build cache from the target branch of the PR.
      # This includes a working copy and associated build cache with consistent
      # file mtimes.  We then check out the PR commit on top of that working
      # copy, which will invalidate build cache entries only for files changed
      # in the PR. This must be inline in this file because it needs to run
      # before code is checked out.
      - '[ -n "$SKIP_CACHE_RESTORE" ] || sudo apt-get install -y zstd'
      - restored_cache=false
      - >-
        if [[ -n "${SEMAPHORE_GIT_PR_NUMBER}" && -z "$SKIP_CACHE_RESTORE" ]]; then
          echo "Running in the context of a PR: ${SEMAPHORE_GIT_PR_NUMBER}"
          # Look for a build cache from the target branch of the PR.
          gcs_branch_cache_dir="${GCS_CACHE_DIR}/${SEMAPHORE_GIT_BRANCH}"
          if gcloud storage cp "$gcs_branch_cache_dir/working-copy.tar.zstd" /tmp/working-copy.tar.zstd; then
            echo "Restoring cache for branch ${SEMAPHORE_GIT_BRANCH}"
            tar --use-compress-program=zstd -xf /tmp/working-copy.tar.zstd
            cd "${CALICO_DIR_NAME}"
            git fetch origin ${SEMAPHORE_GIT_SHA}
            git checkout ${SEMAPHORE_GIT_SHA} -B ${SEMAPHORE_GIT_PR_BRANCH}
            restored_cache=true
          fi
        fi || true
      - >-
        if ! $restored_cache; then
          echo "No cache restored, doing a fresh checkout..."
          cd $HOME
          rm -rf "${CALICO_DIR_NAME}"
          git clone --filter=blob:none --revision=$SEMAPHORE_GIT_SHA $SEMAPHORE_GIT_URL $CALICO_DIR_NAME
          cd "${CALICO_DIR_NAME}" || exit 1
        fi
      - CALICO_DIR="$(pwd)"
      - export CALICO_DIR
      - mkdir -p artifacts
      - echo $DOCKERHUB_PASSWORD | docker login --username "$DOCKERHUB_USERNAME" --password-stdin
  epilogue:
    commands:
      - cd "$CALICO_DIR"
      - .semaphore/publish-artifacts
