.aso_installed
.sshkey
.sshkey.pub
.vmss-created
connect.txt
infra/manifests/
kubeconfig
operator-crds.yaml
password.txt
scp-from-windows.sh
scp-to-windows.sh
ssh-node-linux.sh
ssh-node-windows.sh
tigera-operator.yaml
tigera-prometheus-operator.yaml
windows/config
windows/kubeadm/
windows/run-fv.ps1
