.aso_installed
.sshkey
.sshkey.pub
.vmss-created
cert-manager.yaml
connect.txt
infra/manifests/
kind-kubeconfig
kubeconfig
operator-crds.yaml
password.txt
scp-from-windows.sh
scp-to-windows.sh
ssh-node-linux.sh
ssh-node-windows.sh
tigera-operator.yaml
tigera-prometheus-operator.yaml
windows/*.exe
windows/config
windows/kubeadm/
windows/run-fv.ps1
