# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# By default, changes require review from the core maintainers.
*             @projectcalico/core-maintainers

# Gateway and Proxy components
third_party/envoy-gateway/    @projectcalico/ingress-maintainers
third_party/envoy-proxy/      @projectcalico/ingress-maintainers
third_party/envoy-ratelimit/  @projectcalico/ingress-maintainers

# Application Layer Policy (Dikastes, L7 policy enforcement with Envoy/Istio)
app-policy/                   @projectcalico/ingress-maintainers

# E2E runs
.semaphore/end-to-end/        @projectcalico/e2e-maintainers
e2e/                          @projectcalico/e2e-maintainers
