# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# By default, changes require review from the core maintainers.
*             @projectcalico/core-maintainers

# The docs team will be the default owners for the docs directory.
calico/*       @docs

# Gateway and Proxy components
third_party/envoy-gateway/    @projectcalico/core-maintainers
third_party/envoy-proxy/      @projectcalico/core-maintainers
third_party/envoy-ratelimit/  @projectcalico/core-maintainers

# Application Layer Policy (Dikastes, L7 policy enforcement with Envoy/Istio)
app-policy/                   @projectcalico/core-maintainers
