[run]
include =
    calico/felix/*
    calico/acl_manager/*
    calico/openstack/*
    calico/common.py
omit =
    calico/felix/test/*
    calico/acl_manager/test/*
    calico/openstack/test/*
branch = True
