[run]
include =
    calico/felix/*
    calico/openstack/*
    calico/*.py
omit =
    calico/test/*
    calico/felix/test/*
    calico/openstack/test/*
    calico/etcddriver/test/*
branch = True
concurrency = eventlet
