*
!k8s-install/scripts/install-cni.sh
!k8s-install/scripts/calico.conf.default
!dist/amd64/calico
!dist/amd64/calico-ipam
!dist/amd64/flannel
!dist/amd64/loopback
!dist/amd64/host-local
!dist/amd64/portmap
!dist/ppc64le/calico
!dist/ppc64le/calico-ipam
!dist/ppc64le/flannel
!dist/ppc64le/loopback
!dist/ppc64le/host-local
!dist/ppc64le/portmap
