# Ignore everything except:
*
# - The filesystem that gets copied in and the generated binaries
!clean-up-filesystem.sh
!filesystem
!dist/bin
!vendor/github.com/kelseyhightower/confd/etc/calico/confd
# - CentOS repository file and our license
!centos.repo
!LICENSE
