_drafts/
*.pyc
_site
.sass-cache
.DS_Store
*.swp
.idea
.vagrant
.jekyll-metadata
.releasedata
Gemfile.lock
_output/
bin

# This prevents us from accidentally checking actual files into
# the helm templates directory, since (for now) we should be
# using a symlink.
_includes/*/charts/calico/templates/*
_includes/*/charts/calico/values.yaml
