.go-pkg-cache
build
dist/*
certs
.idea
*.pyc
.coverage
*.tar
*.created-*
**/*.sw[pon]
*.coverprofile
vendor
nosetests.xml
testfile.yaml
testfile
testfile.json
calico_test.created
release-notes*
report/*.xml
.empty
crds.yaml
filesystem/etc/calico/confd/*
filesystem/code/*
filesystem/usr
Makefile.common*
bin
kubectl
/tests/k8st/kind
filesystem/included-source
