---

extends: relaxed

rules:
  line-length: disable
  indentation:
    spaces: consistent
    indent-sequences: consistent

ignore:
  # template files are not valid yaml
  - charts/calico/templates/
  - charts/tigera-operator/templates/
  # these dirs are cloned repos, we don't own yamls that they may contain
  - cni-plugin/containernetworking-plugins/
  - cni-plugin/flannel-cni-plugin/
