extends: default

rules:
  braces: disable
  brackets: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: disable
  indentation: disable
  line-length: disable
