# This file contains only the changes from the defaults
# https://jekyllrb.com/docs/configuration/#default-configuration

# Make our URLs look nice. We're not a blog with dated posts, we just want the title.
permalink:     /:title.html

archive: false
noindex: false

plugins:
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

url: https://docs.projectcalico.org

repository: projectcalico/calico

prodname: Calico
prodnamedash: calico
nodecontainer: calico/node
noderunning: calico-node

# DEPRECATED: use imageNames stored in per-directory defaults, e.g. 'page.imageNames'
imageNames:
  node: calico/node
  calicoctl: calico/ctl
  typha: calico/typha
  cni: calico/cni
  kubeControllers: calico/kube-controllers
  calico-upgrade: calico/upgrade
  flannel: quay.io/coreos/flannel
  flannelMigration: calico/flannel-migration-controller
  dikastes: calico/dikastes
  pilot-webhook: calico/pilot-webhook
  flexvol: calico/pod2daemon-flexvol

# List of files to exclude. These files won't get included in the deployed site.
exclude:
  - release-scripts
  - LICENSE
  - Makefile
  - README.md
  - RELEASING.md
  - DEVELOPER_GUIDE.md
  - CONTRIBUTING_DOCS.md
  - CONTRIBUTING_CODE.md
  - DOC_STYLE_GUIDE.md
  - hack
  - vendor

breadcrumbs:
  root:
    hide: false  # show breadcrumbs on root/home page
    image: false # Show image or title text

# Set to 'true' to show warning that points users to latest version of each page.
is_latest: false

defaults:
  -
    scope:
      path: ""
    values:
      layout: docwithnav
      show_title: true
      show_read_time: true
      show_toc: true
      version: v3.14
      sitemap: true
      registry:
      # A lookup map for imageNames based on component names.
      # Keys should be camel-cased *and* match the keys used in versions.yml components.
      imageNames:
        calico/node: calico/node
        calicoctl: calico/ctl
        typha: calico/typha
        calico/cni: calico/cni
        calico/kube-controllers: calico/kube-controllers
        calico-upgrade: calico/upgrade
        flannel: quay.io/coreos/flannel
        flannelMigration: calico/flannel-migration-controller
        calico/dikastes: calico/dikastes
        pilot-webhook: calico/pilot-webhook
        flexvol: calico/pod2daemon-flexvol

