# This file contains only the changes from the defaults
# https://jekyllrb.com/docs/configuration/#default-configuration

# Make our URLs look nice. We're not a blog with dated posts, we just want the title.
permalink:     /:title.html

noindex: true

plugins:
  # disable the jekyll redirect plugin so we instead rely on netlify http redirects
  # - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

url: https://docs.projectcalico.org

repository: projectcalico/calico

prodname: Calico
prodnamedash: calico
nodecontainer: calico/node
noderunning: calico-node

# DEPRECATED: use imageNames stored in per-directory defaults, e.g. 'page.imageNames'
imageNames:
  node: calico/node
  calicoctl: calico/ctl
  typha: calico/typha
  cni: calico/cni
  kubeControllers: calico/kube-controllers
  calico-upgrade: calico/upgrade
  flannel: quay.io/coreos/flannel
  flannelMigration: calico/flannel-migration-controller
  dikastes: calico/dikastes
  pilot-webhook: calico/pilot-webhook
  flexvol: calico/pod2daemon-flexvol

# List of files to exclude. These files won't get included in the deployed site.
exclude:
  - release-scripts
  - LICENSE
  - Makefile
  - README.md
  - RELEASING.md
  - DEVELOPER_GUIDE.md
  - CONTRIBUTING_DOCS.md
  - CONTRIBUTING_CODE.md
  - DOC_STYLE_GUIDE.md
  - hack
  - vendor

# Set to 'true' to show warning that points users to latest version of each page.
is_latest: false

defaults:
  -
    scope:
      path: ""
    values:
      layout: docwithnav
      show_title: true
      version: master
      sitemap: true
      registry:
      # A lookup map for imageNames based on component names.
      # Keys should be camel-cased *and* match the keys used in versions.yml components.
      imageNames:
        calico/node: calico/node
        calicoctl: calico/ctl
        typha: calico/typha
        calico/cni: calico/cni
        calico/kube-controllers: calico/kube-controllers
        calico-upgrade: calico/upgrade
        flannel: quay.io/coreos/flannel
        flannelMigration: calico/flannel-migration-controller
        calico/dikastes: calico/dikastes
        pilot-webhook: calico/pilot-webhook
        flexvol: calico/pod2daemon-flexvol

  -
    scope:
      path: master
    values:
      version: master
      registry:
  -
    scope:
      path: v1.5
    values:
      version: v1.5
      sitemap: false
  -
    scope:
      path: v1.6
    values:
      version: v1.6
      sitemap: false
  -
    scope:
      path: v2.0
    values:
      version: v2.0
      sitemap: false
  -
    scope:
      path: v2.1
    values:
      version: v2.1
      sitemap: false
  -
    scope:
      path: v2.2
    values:
      version: v2.2
      sitemap: false
  -
    scope:
      path: v2.3
    values:
      version: v2.3
      sitemap: false
  -
    scope:
      path: v2.4
    values:
      version: v2.4
      sitemap: false
  -
    scope:
      path: v2.5
    values:
      version: v2.5
      sitemap: false
  -
    scope:
      path: v2.6
    values:
      version: v2.6
  -
    scope:
      path: v3.0
    values:
      version: v3.0
      registry: quay.io/
  -
    scope:
      path: v3.1
    values:
      version: v3.1
      registry: quay.io/
  -
    scope:
      path: v3.2
    values:
      version: v3.2
      registry: quay.io/
  -
    scope:
      path: v3.3
    values:
      version: v3.3
      registry:
  -
    scope:
      path: v3.4
    values:
      version: v3.4
      registry:
  -
    scope:
      path: v3.5
    values:
      version: v3.5
      registry:
  -
    scope:
      path: v3.6
    values:
      version: v3.6
      registry:
  -
    scope:
      path: v3.7
    values:
      version: v3.7
      registry:
  -
    scope:
      path: v3.8
    values:
      version: v3.8
      registry:
  -
    scope:
      path: v3.9
    values:
      version: v3.9
      registry:
  -
    scope:
      path: v3.10
    values:
      version: v3.10
      registry:
  -
    scope:
      path: v3.11
    values:
      version: v3.11
      registry:
