# This file contains only the changes from the defaults
# https://jekyllrb.com/docs/configuration/#default-configuration

# Make our URLs look nice. We're not a blog with dated posts, we just want the title.
permalink:     /:title.html

plugins:
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

url: https://docs.projectcalico.org

repository: projectcalico/calico

prodname: Calico
nodecontainer: calico/node
noderunning: calico-node

# Image names in case the host changes
imageNames:
  node: quay.io/calico/node
  calicoctl: quay.io/calico/ctl
  typha: quay.io/calico/typha
  cni: quay.io/calico/cni
  kubeControllers: quay.io/calico/kube-controllers
  calico-upgrade: quay.io/calico/upgrade
  flannel: quay.io/coreos/flannel
  dikastes: quay.io/calico/dikastes
  pilot-webhook: quay.io/calico/pilot-webhook
  flexvol: quay.io/calico/pod2daemon-flexvol

# List of files to explicitly include. Jekyll ignore some files by default (such as those starting with . or _)  
include:
  - _headers

# List of files to exclude. These files won't get included in the deployed site.
exclude:
  - release-scripts
  - LICENSE
  - Makefile
  - README.md
  - RELEASING.md
  - BUILDING_CALICO.md
  - CONTRIBUTING_DOCS.md
  - CONTRIBUTING_CODE.md
  - DOC_STYLE_GUIDE.md
  - hack

defaults:
  -
    scope:
      path: ""
    values:
      layout: docwithnav
      version: master
      sitemap: false
  -
    scope:
      path: master
    values:
      version: master
  -
    scope:
      path: v1.5
    values:
      version: v1.5
  -
    scope:
      path: v1.6
    values:
      version: v1.6
  -
    scope:
      path: v2.0
    values:
      version: v2.0
  -
    scope:
      path: v2.1
    values:
      version: v2.1
  -
    scope:
      path: v2.2
    values:
      version: v2.2
  -
    scope:
      path: v2.3
    values:
      version: v2.3
  -
    scope:
      path: v2.4
    values:
      version: v2.4
  -
    scope:
      path: v2.5
    values:
      version: v2.5
  -
    scope:
      path: v2.6
    values:
      version: v2.6
  -
    scope:
      path: v3.0
    values:
      version: v3.0
  -
    scope:
      path: v3.1
    values:
      version: v3.1
  -
    scope:
      path: v3.2
    values:
      version: v3.2
      sitemap: true
