# This file contains only the changes from the defaults
# https://jekyllrb.com/docs/configuration/#default-configuration

# Make our URLs look nice. We're not a blog with dated posts, we just want the title.
permalink:     /:title.html

gems:
  - jekyll-redirect-from

exclude:
  - release-scripts
  - LICENSE
  - Makefile
  - README.md
  - RELEASING.md

# Markdown Processors
# TODO - we're not entirely sure what these are for
kramdown:
  html_to_native: true
  syntax_highlighter: rouge

defaults:
  -
    scope:
      path: ""
    values:
      layout: docwithnav
      version: master
  -
    scope:
      path: master
    values:
      version: master
  -
    scope:
      path: v1.5
    values:
      version: v1.5
  -
    scope:
      path: v1.6
    values:
      version: v1.6
  -
    scope:
      path: v2.0
    values:
      version: v2.0
  -
    scope:
      path: v2.1
    values:
      version: v2.1
