---
title: Project Calico
description: Home
---

<!Doctype html>
<html id="home">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
    <main>
        <div id="headlineWrapper">
            <h1>Cloud Networks, Secured</h1>
            <h5>A Pure Layer 3 Approach to Virtual Networking for Highly Scalable Data Centers</h5>
        </div>
        <a href="/docs/getting-started/" id="quickstartButton" class="button">Get Started</a>
    </main>
    <!--<div id="vendorStrip" class="light-text">-->
        <!--<img src="images/logos/viacom_logo.png">-->
        <!--<img src="images/logos/soundcloud_logo.png">-->
        <!--<img src="images/logos/redhat_logo.png">-->
        <!--<img src="images/logos/wepay_logo.png">-->
        <!--<img src="images/logos/verizon_logo.png">-->
    <!--</div>--> 
</section>
<!--  OCEAN NODES  -->
<section id="oceanNodes">
    <main>
        <div class="image-wrapper"><img src="images/felix.png"></div>
        <div class="content">
            <h3><a href="https://www.projectcalico.org/learn/">Project Calico</a> is an open-source Networking project for cloud-native applications</h3>
            <p>Calico enables secure IP communication between containers, virtual machines or bare metal workloads.</p>
        </div>
    </main>
    <main>
        <div class="image-wrapper"><img src="images/secure-white.png"></div>
        <div class="content">
            <h4>Secure</h4>
            <p>Designed from the ground up to support rich, flexible and secure network policy.</p>
        </div>
    </main>    <main>
        <div class="image-wrapper"><img src="images/scalable-white.png"></div>
        <div class="content">
            <h4>Scalable</h4>
            <p>Calico scales to tens of thousands of servers and millions of workloads.</p>
        </div>
    </main>
    <main>
        <div class="image-wrapper"><img src="images/simple-white.png"></div>
        <div class="content">
            <h4>Simple</h4>
            <p>Easy to deploy, easy to operate, easy to diagnose.</p>
        </div>
    </main>
    <main>
        <div class="image-wrapper"><img src="images/github-white.png"></div>
        <div class="content">
            <h4>Open</h4>
            <p>Open source and open standards.</p>
        </div>
    </main>
    <main>
        <div class="image-wrapper"><img src="images/workload-white.png"></div>
        <div class="content">
            <h4>Any Workload</h4>
            <p>Supports container, VM and bare metal workloads.</p>
        </div>
    </main>
    <main>
        <div class="image-wrapper"><img src="images/ipv6-white.png"></div>
        <div class="content">
            <h4>IPv6 Enabled</h4>
            <p>Supports IPv4 and IPv6</p>
        </div>
    </main>
</section>

{% include footer.html %}
