# Settings in the [build] context are global and are applied to all contexts unless otherwise overridden by more specific contexts.
[build]
  publish = "_site/"
  command = '''
  cp netlify/Gemfile Gemfile && bundle install
  make bin/helm
  export PATH=$PATH:$(pwd)/bin

  # generate only manifests served at /<version>
  jekyll build --config _config.yml,$(pwd)/netlify/_config_noindex.yml,$(pwd)/netlify/_manifests_only.yml --baseurl /$RELEASE_VERSION --destination _site/$RELEASE_VERSION

  # generate the website which is served at /archive/<version>
  # note: this must be done second since destination folders are cleaned on each builds
  jekyll build --config _config.yml,$(pwd)/netlify/_config_noindex.yml --baseurl /archive/$RELEASE_VERSION --destination _site/archive/$RELEASE_VERSION

  # move 404 page to root of the site so that netlify shows it automatically
  mv _site/archive/$RELEASE_VERSION/404.html _site/404.html
  '''

[build.environment]
  RUBY_VERSION = "2.5.4"
  RELEASE_VERSION = "v3.12"

[context.deploy-preview]
  command = '''
  cp netlify/Gemfile Gemfile && bundle install
  make bin/helm
  export PATH=$PATH:$(pwd)/bin
  echo "url: $DEPLOY_PRIME_URL" > _config_url.yml
  jekyll build --config _config.yml,_config_url.yml
  '''

# unforced redirect will allow manifests to be collected on /<version>/ generated in above build
# but redirects anything else that's not inside /<version> to root at /
[[redirects]]
  from = "/v3.12/*"
  to = "/:splat"
  status = 301

[[headers]]
  for = "/*.yaml"
  [headers.values]
    content-type = "text/yaml"

[[headers]]
  for = "/*.yml"
  [headers.values]
    content-type = "text/yaml"

[[headers]]
  for = "/*.sh"
  [headers.values]
    content-type = "text/x-shellscript"

[[headers]]
  for = "/*.bash"
  [headers.values]
    content-type = "text/x-shellscript"
