[Unit]
Description=confd for Dockerless Calico
Requires=calico-dockerless.service
Requires=calico-dockerless-bird.service
After=calico-dockerless.service
Before=calico-dockerless-bird.service

[Service]
ExecStartPre=/usr/bin/bash -c '/usr/bin/sed "s/HOSTNAME/$HOSTNAME/" /etc/calico/confd/templates/bird_aggr.toml.template > /etc/calico/confd/conf.d/bird_aggr.toml'
ExecStartPre=/usr/bin/bash -c '/usr/bin/sed "s/HOSTNAME/$HOSTNAME/" /etc/calico/confd/templates/bird6_aggr.toml.template > /etc/calico/confd/conf.d/bird6_aggr.toml'
ExecStartPre=/usr/local/bin/confd -confdir=/etc/calico/confd/ -onetime -node $ETCD_AUTHORITY
ExecStart=/usr/local/bin/confd -confdir=/etc/calico/confd/ -interval=5 -watch -node $ETCD_AUTHORITY
EnvironmentFile=/etc/calico/calico-environment

[Install]
WantedBy=multi-user.target
