[Unit]
Description=Dockerless Calico
Requires=calico-dockerless-confd.service
Requires=calico-dockerless-bird.service
Requires=calico-felix.service
Before=calico-dockerless-confd.service
Before=calico-dockerless-bird.service


[Service]
User=root
ExecStart=/usr/local/bin/calicoctl node --detach=false --runtime=none
EnvironmentFile=/etc/calico/calico-environment

[Install]
WantedBy=multi-user.target
