<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/getting-started/">Get Started</a>
			<a href="/docs/">Documentation</a>
			<a href="http://www.projectcalico.org/blog/">Blog</a>
			<a href="/docs/community/">Community</a>
		</nav>
		<div class="social">
			<div>
				<a href="https://twitter.com/projectcalico" class="twitter"><span>twitter</span></a>
				<a href="https://github.com/projectcalico/calico" class="github"><span>Github</span></a>
				<a href="http://slack.projectcalico.org/" class="slack"><span>Slack</span></a>
				<a href="http://stackoverflow.com/questions/tagged/calico" class="stack-overflow"><span>Stack Overflow</span></a>
			</div>
			<div>
				<!-- Removing this bit breaks the TOC - need to understand why! -->
				<!-- <span>I wish this page</span> 
				<input type="text" id="wishField" name="wishField" placeholder="enter your wish"> -->
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} Tigera, Inc.</div>
	</main>
</footer>
