<footer>
	<main class="light-text">
		<nav>
			<a href="{{base}}/docs/getting-started/calico-integrations">Get Started</a>
			<a href="{{base}}/docs/calico">Documentation</a>
			<a href="http://www.projectcalico.org/blog/">Blog</a>
			<a href="{{base}}/docs/community/community-overview">Community</a>
		</nav>
		<div class="social">
			<div>
			</div>
			<div>
				<a href="https://twitter.com/projectcalico" class="twitter"><span>twitter</span></a>
				<a href="https://github.com/projectcalico/calico" class="github"><span>Github</span></a>
				<a href="http://slack.projectcalico.org/" class="slack"><span>Slack</span></a>
				<a href="http://stackoverflow.com/questions/tagged/calico" class="stack-overflow"><span>Stack Overflow</span></a>
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} Tigera, Inc.</div>
	</main>
</footer>
