{% if page.title %}{% assign title=page.title %}{% endif %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="canonical" href="http://www.projectcalico.org/docs{{page.url}}" /> -->
	<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/favicon.png">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Mono' type='text/css'>
	<link rel="stylesheet" href="{{site.baseurl}}/css/styles.css"/>
        <link rel="stylesheet" href="{{site.baseurl}}/css/jquery-ui.min.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/sweetalert.css">
	<script src="{{site.baseurl}}/js/jquery-2.2.0.min.js"></script>
        <script src="{{site.baseurl}}/js/jquery-ui.min.js"></script>
				<script src="{{site.baseurl}}/js/script.js"></script>
        <script src="{{site.baseurl}}/js/sweetalert.min.js"></script>
	<title>Calico - {{ title | json }}</title>
</head>
<body>
<header>
	<a href="https://projectcalico.org" class="logo"></a>
	<div class="nav-buttons">
		<a href="{{site.baseurl}}" class="button topnav">Documentation</a>
		<a href="http://www.projectcalico.org/community" class="button topnav">Support</a>
		<a href="http://www.projectcalico.org/blog" class="button topnav">Blog</a>
	</div>
	<nav id="mainNav">
		<main>
			<div class="nav-box">
				<h3><a href="">Learn</a></h3>
				<p>Learn about Project Calico.</p>
			</div>
			<div class="nav-box">
				<h3><a href="{{site.baseurl}}/{{page.version}}/"></a></h3>
				<p>Learn more about Calico in our documentation.</p>
			</div>
			<div class="nav-box">
				<h3><a href="">Support</a></h3>
				<p>Join the Calico community and chat with other Calico users and the project authos.</p>
			</div>
			<div class="nav-box">
				<h3><a href="">Blog</a></h3>
				<p>See what the Calico team are up in our latest blog posts.</p>
			</div>
		</main>
	</nav>
</header>
