<!-- Search Modal -->
<div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="search-input-container"></div>
            <div class="search-container">
              <div class="search-container__results"></div>
              <div class="search-container__pagination"></div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="search-powered-by" ></div>
        </div>
      </div>
    </div>
  </div>
<!-- Search Modal -->