{% for item in include.section_index %}
    {% assign page_path = page.url | remove: '/index.html' %}
    {% if page_path == item.path %}
        <div class="section-index">
                {% for nested_item in item.section %}
                    {% capture url %}{{ nested_item.path | relative_url }}{% endcapture %}
                    <div class="section-index__item">
                        <h4>
                            <a href="{{ url }}">
                                {{ nested_item.title }}
                            </a>
                        </h4>
                        <p>
                            {{ nested_item.description | default: nested_item.Description | default: "" }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% break %}
    {% endif %}

    {% if item.section %}
        {% include section_index.html section_index=item.section %}
    {% endif %}
{% endfor %}
