{% assign tabsraw = tabspec | newline_to_br | split: '<br />' %}
{% assign tabsetname = tabsraw[0] %}
<script>$(function(){$("#{{tabsetname}}").tabs();});</script>
<div id="{{tabsetname}}">
  <ul>{% for tab in tabsraw offset:1 %}{% assign thisTab = tab | split: ',' %}
    <li><a href="#{{ thisTab[0] | strip | handleize }}">{{ thisTab[0] | strip}}</a></li>{% endfor %}
  </ul>
  {% for tab in tabsraw offset:1 %}
  {% assign thisTab = tab | split: ',' %}
  {% assign tabLang=thisTab[1] %}
  {% assign tabFile=thisTab[2] %}
  {% assign tabGHLink=thisTab[3] %}
  <div id="{{ thisTab[0] | strip | handleize }}">
  {% include code.html language=tabLang file=tabFile ghlink=tabGHLink %}
  </div>
  {% endfor %}
</div>