.go-pkg-cache
dist
bin
kubeconfig
.idea
*~
vendor
net.d
addstats
delstats
*.pyc
*.created
*.test
tmp-cni
*.swp
*.coverprofile
report/*.xml
crds.yaml
Makefile.common*
config/
.containernetworking-plugins*
containernetworking-plugins/
