build/
dist/
bin/
*.tar
*.created
*.coverage
.idea/
*.swp
*.bak
*.tmp
*~
.vscode/
image.created*
vendor/
dist/kube-controllers
.go-pkg-cache
st-kubeconfig.yaml
*.coverprofile
/report/*.xml
Makefile.common*
tests/crds.yaml
tests/crds
pkg/report/
ut.test
data-races.log
