[global]
# Time between retries for failed endpoint operations
EndpointRetryTimeMillis = 500
# Time between complete resyncs
ResyncIntervalSecs = 3600
# Plugin and ACL manager addresses
PluginAddress = controller
ACLAddress    = controller

[log]
# Log file path.
LogFilePath = /var/log/calico/felix.log
# Log severities for the Felix log and for syslog.
LogSeverityFile   = DEBUG
LogSeveritySys    = ERROR
LogSeverityScreen = DEBUG

[connection]
# Time with no data on a connection after which we give up on the
# remote entity
ConnectionTimeoutMillis = 30000
# Time between sending of keepalives
ConnectionKeepaliveIntervalMillis = 2000
