[global]
# Time between retries for failed endpoint operations
#EndpointRetryTimeMillis = 500
# Time between complete resyncs
#ResyncIntervalSecs = 1800
# Hostname to use in messages - defaults to server hostname
#FelixHostname = hostname
# Plugin and ACL manager addresses
PluginAddress = controller
ACLAddress    = controller
# Metadata IP (or host) and port. If no metadata configuration, set to None
#MetadataAddr  = 127.0.0.1
#MetadataPort  = 9697
# Address to bind to - either "*" or an IPv4 address (or hostname)
#LocalAddress = *
# Interface prefix; all interfaces must start with this.
#InterfacePrefix = tap
# If no interface name is provided, then the interface name is created from
# the prefix plus the first InterfaceSuffixLength characters of the ID.
#InterfaceSuffixLength = 11

[log]
# Log file path. If LogFilePath is not set, felix will not log to file.
LogFilePath = /var/log/calico/felix.log

# Log severities for the Felix log and for syslog.
#   Valid levels: NONE (no logging), DEBUG, INFO, WARNING, ERROR, CRITICAL
#LogSeverityFile   = INFO
#LogSeveritySys    = ERROR
#LogSeverityScreen = ERROR

[connection]
# Time with no data on a connection after which we give up on the
# remote entity
#ConnectionTimeoutMillis = 40000
# Time between sending of keepalives
#ConnectionKeepaliveIntervalMillis = 5000
