# Configuration for a local kind cluster that deploys a control plane node
# and nothing else - useful for tests which do not need real nodes and just need
# an apiserver, etc.
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  disableDefaultCNI: true
  podSubnet: "192.168.0.0/16"
  dnsSearch: []
nodes:
# For libcalico-go tests, we only need a control plane node.
- role: control-plane
  extraPortMappings:
  - containerPort: 8080
    hostPort: 8080
kubeadmConfigPatches:
- |
  apiVersion: kubeadm.k8s.io/v1beta3
  kind: ClusterConfiguration
  metadata:
    name: config
  controllerManager:
    extraArgs:
      cluster-cidr: "192.168.0.0/16"
- |
  apiVersion: kubeproxy.config.k8s.io/v1alpha1
  kind: KubeProxyConfiguration
  metadata:
    name: config
  mode: ipvs
  conntrack:
    maxPerCore: 0
