bigheader: "Security"
path: /security
order: 3
toc:
- title: Security
  path: /security/
- title: Kubernetes network policy
  path: /security/kubernetes-network-policy
- title: Calico network policy
  path: /security/calico-network-policy
- title: Simple policy tutorial
  path: /security/simple-policy
- title: Stars policy tutorial
  path: /security/stars-policy/
- title: Controlling ingress and egress traffic with network policy
  path: /security/advanced-policy
- title: Application layer tutorial
  path: /security/app-layer-policy/
- title: Securing Calico component communications
  section:
  - title: Configuring encryption and authentication
    path: /security/comms/crypto-auth
  - title: Scheduling to well-known nodes
    path: /security/comms/reduce-nodes
  - title: Securing Calico's Prometheus endpoints
    path: /security/comms/secure-metrics
- title: Defend against DoS attacks
  path: /security/defend-dos-attack
- title: Enable default deny for Kubernetes pods
  path: /security/kubernetes-default-deny  
- title: Apply policy to Kubernetes node ports
  path: /security/kubernetes-node-ports
- title: Enforce network policy using Istio
  path: /security/enforce-policy-istio
- title: Use HTTP methods and paths in policy rules
  path: /security/http-methods 
- title: Use service accounts in policy rules
  path: /security/service-accounts
- title: Use ICMP/ping in policy rules
  path: /security/icmp-ping
- title: Enable extreme high-connection workloads
  path: /security/high-connection-workloads
- title: Adopt a zero trust network model for security
  path: /security/adopt-zero-trust  
- title: Get started with Calico network policy for OpenStack
  path: /security/network-policy-openstack
- title: Protect hosts
  path: /security/protect-hosts
- title: Use external IPs or networks in policy rules
  path: /security/external-ips-policy  
- title: Use namespace in policy rules
  path: /security/namespace-policy
- title: Apply policy to services exposed externally as cluster IPs
  path: /security/services-cluster-ips  