
# Peer with route reflector.
protocol bgp '@ID@' {
  description "@DESCRIPTION@";
  local as @AS_NUMBER@;
  neighbor @PEER_IPV6_ADDRESS@ as @AS_NUMBER@;
  multihop;
  graceful restart;
  source address @MY_IPV6_ADDRESS@;  # The local address we use for the TCP connection
  ipv6 {
    import filter import_bgp_v6;
    export filter export_bgp_v6;
    next hop self;    # Disable next hop processing and always advertise our
                      # local address as nexthop
  };
}
