
# Peer with route reflector.
protocol bgp '@ID@' {
  description "@DESCRIPTION@";
  local as @AS_NUMBER@;
  neighbor @PEER_IP_ADDRESS@ as @AS_NUMBER@;
  multihop;
  graceful restart;
  source address @MY_IP_ADDRESS@;  # The local address we use for the TCP connection
  ipv4 {
    import filter import_bgp;
    export filter export_bgp;
    next hop self;    # Disable next hop processing and always advertise our
                      # local address as nexthop
  };
}
