---
---
@import "../css/variables";
@import "../_sass/bootstrap/bootstrap";

@import "../css/sidebar";
@import "../css/section_index";
@import "../css/search";
@import "../css/plugins/offcanvas";

$header-height: 150px;
$sticky-top: $header-height + $navbar-margin-bottom;

// By default bootstrap doesn't apply many styles to table elements
// unless they have class .table and .table-bordered
// These lines here extend the table so it automatically gets those
// stylings and look like real tables without having to add
// that class to everything.
#content-main {
  table {
    @extend .table;
    @extend .table-bordered;
  }

  img {
    @extend .img-responsive;
  }

  h2:target,
  h3:target,
  h4:target,
  h5:target {
    padding-top: $sticky-top;
    margin-top: -$sticky-top;
  }
}

h1 {
  font-size: 38px;
}

h4 {
  margin: 22px 0px 8px 0px;
  font-weight: 700;
  font-size: 20px;
}

// Make h5 stand out from normal text.
h5 {
  font-weight: bold;
  color: #444;
}

// Prevent nested list items from bunching up against the next top-level list item.
.article-container li li:last-child {
  margin-bottom: 1em;
}

// Default blockquotes are too big in Bootstrap.
// Shrink them down
blockquote {
  font-size: inherit;
}

// Set height to prevent weird bug where sidebar is clipped at bottom.
html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-x: visible;
  padding-top: $sticky-top;

  @media (max-width: $screen-xs-max) {
    overflow-x: hidden;
  }
}

td {
  @media (max-width: $screen-xs-max) {
    white-space: pre-wrap !important;
  }
}

h2,h3 {
  margin-top: 28px;
}

pre code {
  white-space: pre;
}

div.alert-warning {
  background-color: #FFE3AB;
  color: #C7254E;
}

div.highlight {
  position: relative;
}

.code-snippet {
  max-height: 410px;
  overflow: auto;

  &__toolbar {
    vertical-align: top;
    position: absolute;
    top: 10px;
    right: 1px;
    background: rgba(245, 245, 245, 1);
  }

  &-toolbar {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    &__copy-button,
    &__download-button {
      margin-left: 10px;
      font-size: 16px;
      color: #FF7E00;
  
      &:hover {
        cursor: pointer;
      }
    }

    &__button:last-child {
      margin-right: 10px;
    }

    &--visible {
      opacity: 1;
      transition: opacity 0.1s ease-in-out;
    }
  }

  &__command-prefix {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#toplevel-nav {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
 
  border: none;
}

// Fix conflicts between bootstrap theme and custom search theme.
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.toc {
  color: #004078;
  list-style-type: none;
  padding-left: 0;

  &__nested {
    list-style-type: none;
  }

  ul {
    padding-left: 15px;
  }

  a:hover,
  a:focus {
    color: #f69432;
  }
}

.current {
  color: #f79518;
}


input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}

.tigera-navbar-footer-container {
  background-color: #326DE6;
  background: linear-gradient(to right, #326DE6, #08A2C4);
}

.tigera-navbar-header-container,
.tigera-navbar-footer-container {
  @media (min-width: $screen-sm-min) {
      display: flex;
  }
  display: block;
}

#tigera-navbar-footer,
#tigera-navbar-footer > ul.nav.navbar-nav.navbar-left {
  width: 100%;
}

#tigera-navbar-footer > ul.nav.navbar-nav.navbar-left > li:last-child {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
  float: left;
}

#tigera-navbar-footer > ul.nav.navbar-nav.navbar-left > li > a:hover, 
#tigera-navbar-footer > ul.nav.navbar-nav.navbar-left > li > a:focus {
  background-color: transparent;
}

#tigera-navbar-header ul.dropdown-menu.dropdown-menu-left,
#tigera-navbar-footer ul.dropdown-menu.dropdown-menu-left {
  left: -50%;
  right: -50%;
  margin-top: -10px;
}

#tigera-navbar-header ul.dropdown-menu.dropdown-menu-left::before,
#tigera-navbar-footer ul.dropdown-menu.dropdown-menu-left::before {
  @media (min-width: $screen-sm-min) {
    content: '';
    position: absolute;
    background-color: white;
    left: calc(50% - 7.5px);
    bottom: calc(100% - 6.5px);
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
  }
  content: none;
}

#tigera-navbar-header ul.dropdown-menu li,
#tigera-navbar-footer ul.dropdown-menu li {
  position: relative;
}

#tigera-navbar-header ul.dropdown-menu.sub-menu,
#tigera-navbar-footer ul.dropdown-menu.sub-menu {
  top: 0;
  left: 100%;
  margin-top: -14px;
  border-radius: 0;
  width: fit-content;
}

.dropdown-menu.open,
.dropdown-menu.sub-menu.open {
  display: block;
}

.dropdown-menu.sub-menu ,.dropdown-toggle {
  display: none;
}

.glyphicon.glyphicon-menu-down.sub-arrow,
.glyphicon.glyphicon-menu-right.sub-arrow {
  transition: all 0.1s ease;
}

.dropdown-toggle:hover .glyphicon.glyphicon-menu-down.sub-arrow,
.dropdown-toggle:hover .glyphicon.glyphicon-menu-right.sub-arrow {
  transform: rotateZ(-180deg);
}

#tigera-navbar-header .nav,
#tigera-navbar-footer .nav {
  margin-left: 44px;
}

#tigera-navbar,
#tigera-navbar-header,
#tigera-navbar-footer {
  // Constrains nav menu height when in hamburger mode
  max-height: unset;
}
#tigera-navbar ul.nav,
#tigera-navbar-header ul.nav,
#tigera-navbar-footer ul.nav {
  @media (min-width: $screen-sm-min) {
    margin-top: 11px;
  }    
  
  padding: 15px 0 0 0;
}
  
#tigera-navbar ul.nav > li,
#tigera-navbar-header ul.nav > li,
#tigera-navbar-footer ul.nav > li {
  margin: 0 0 0 0;
  @media (min-width: $screen-sm-min) {
    // When displaying in full size mode we must extend to the bottom of the nav-bar otherwise sub-menu disappears as move mouse towards it
    padding: 0;
    height: 46px;
  }

  // When displaying in hamburger mode we cannot set the height because that breaks the inlining of sub-menu items so use padding instead
  padding: 0 0 25px 0;
  height: auto;
}

#tigera-navbar ul.nav li a {
  // Shrink as we approach hamburger mode
  @media (min-width: $screen-sm-min) and (max-width: 900px) {
    padding: 0 6px;
    font-size: 13px;
  }
  @media (min-width: 901px) and (max-width: 1100px) {
    padding: 0 10px;
  }

  padding: 0 20px;
  font-family: "Poppins", Poppins;
  font-size: 16px;
  font-weight: 600;    
  color: #2a302f;    
  transition: .4s;    
  -webkit-font-smoothing: antialiased;        
}

#tigera-navbar-header ul.nav li a,
#tigera-navbar-footer ul.nav li a {
  // Shrink as we approach hamburger mode
  @media (min-width: $screen-sm-min) and (max-width: 900px) {
    padding: 0 6px;
    font-size: 13px;
  }
  @media (min-width: 901px) and (max-width: 1100px) {
    padding: 0 10px;
  }

  padding: 0 20px;
  font-family: "Poppins", Poppins;
  font-size: 14px;
  font-weight: 700;    
  transition: .4s;    
  -webkit-font-smoothing: antialiased;        
}

#tigera-navbar-footer ul.nav li a {
  color: white;
}

#tigera-navbar-header ul.nav li a {
  color: black;
}

#tigera-navbar ul.nav li a:hover,
#tigera-navbar-header ul.nav li a:hover,
#tigera-navbar-footer ul.nav li a:hover {
  color: #ff9e16;
}

// Indent submenu items for hamburger mode
@media (max-width: $screen-xs-max) {
  #tigera-navbar ul.nav li ul li,
  #tigera-navbar-header ul.nav li ul li,
  #tigera-navbar-footer ul.nav li ul li {
    padding: 20px 0 0 20px;
  }
}

// Submenu handling for full size mode
@media (min-width: $screen-sm-min) {
  #tigera-navbar ul.nav li ul {
    padding: 13px 0 0 0;
    background: #09287d;

    li {
      min-height: 24px !important;
      padding: 13px 20px;

      a {
        color: #fff;
        padding: 0;
        white-space: nowrap;
      }

      a:hover {
        color: $navbar-default-link-hover-color !important;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }

  #tigera-navbar-header ul.nav li ul,
  #tigera-navbar-footer ul.nav li ul {
    padding: 13px 0 0 0;
    background: white;

    li {
      min-height: 24px !important;
      padding: 13px 20px;

      a {
        color: #041A57;
        padding: 0;
        white-space: nowrap;
        font-size: 14px;
      }

      a.white-space-normal {
        white-space: normal;
      }

      a:hover {
        color: $navbar-default-link-hover-color !important;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }

  #tigera-navbar ul.nav li:hover > ul,
  #tigera-navbar-header ul.nav li:hover > ul,
  #tigera-navbar-footer ul.nav li:hover > ul {
   display: block;
  }
}

@media (max-width: $screen-sm-min) {
  #tigera-navbar-header ul.dropdown-menu.sub-menu,
  #tigera-navbar-footer ul.dropdown-menu.sub-menu {
    margin-top: 0;
    padding: 0;
  }

  .dropdown-toggle .glyphicon.glyphicon-menu-right.sub-arrow {
    transform: rotateZ(90deg);
  }

  .dropdown-toggle:hover .glyphicon.glyphicon-menu-right.sub-arrow {
    transform: rotateZ(-90deg);
  }
}

#tigera-navbar .sub-arrow,
#tigera-navbar-header .sub-arrow,
#tigera-navbar-footer .sub-arrow {
  @media (min-width: $screen-sm-min) and (max-width: 1100px) {
    width: 14px;
    padding: 10px 0 10px 3px;
  }

  font-size: 11px;
  line-height: 1;
  width: 21px;
  padding: 10px 0 10px 5px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#tigera-navbar .sub-arrow {
  padding-left: 10px;
}

#tigera-navbar .free-training {
  @media (min-width: $screen-sm-min) and (max-width: 1100px) {
      padding: 6px 10px !important;
      margin: -8px 0px 0px 0px;
  }

  color: white !important;
  background-color: #ff9e16;
  padding: 9px 15px !important;
  margin: -11px 38px 0px 0px;
  border-width: 2px;
  border-style: solid;
  border-color: #ff9e16;
}

#tigera-navbar-footer .get-certified {
  @media (max-width: $screen-sm-min) {
    width: 200px;
    margin: 0 0 0 20px;
    text-align: center;
  }

  @media (min-width: $screen-sm-min) and (max-width: 1100px) {
      padding: 6px 10px !important;
      margin: -8px 0px 0px 30px;
  }

  color: white !important;
  background-color: #ff9e16;
  padding: 9px 15px !important;
  margin: -11px 0px 0px 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #ff9e16;
  border-radius: 5px;
}

#tigera-navbar .free-training:hover,
#tigera-navbar-footer .get-certified:hover {
  color: #ff9e16 !important;
  background-color: white;
}

#tigera-navbar-footer ul.nav li.dropdown ul li a {
  display: flex;
  align-items: center;
}

.icon-calico-os {
  background-image: url(/images/icon-calico-os.svg);
}

#tigera-navbar-footer ul.nav li.dropdown ul li a:hover .icon-calico-os {
  background-image: url(/images/icon-calico-os-hover.svg);
}

.icon-calico-cloud {
  background-image: url(/images/icon-calico-cloud.svg);
}

#tigera-navbar-footer ul.nav li.dropdown ul li a:hover .icon-calico-cloud {
  background-image: url(/images/icon-calico-cloud-hover.svg);
}

.icon-calico-enterprise {
  background-image: url(/images/icon-calico-enterprise.svg);
}

#tigera-navbar-footer ul.nav li.dropdown ul li a:hover .icon-calico-enterprise {
  background-image: url(/images/icon-calico-enterprise-hover.svg);
}

.tigera-navbar-item-icon {
  @media (max-width: $screen-sm-min) {
    filter: brightness(0) invert(1);
  }

  height: 24px;
  width: 32px;
  margin-right: 15px;
}

.panel-heading.free-training,
.panel-heading.free-ebook {
  background-color: #ff9e16;
}

.panel-heading.free-training span,
.panel-heading.free-ebook span {
  color: white;
}

#enterprise-header,
#cloud-header {
  display: flex;
  align-items: center;
}

#enterprise-header .request-demo-button,
#cloud-header .request-demo-button {
  border: none;
  color: white;
  background-color: #ff9e16;  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 40px;
  cursor: pointer;  
  font-size: 18px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
  font-weight: 700 !important;
}

#enterprise-footer {
    margin: 20px 0px;
}

#enterprise-footer .learn-more-button {
  border: none;
  color: white;
  background-color: #ff9e16;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
  font-weight: 700 !important;
}

.geek-details-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.geek-details {
  display: inline-block; 
  box-shadow: 2px 2px 10px grey;
}

.geek-details-info {
  height: 30px;
  width: 30px;
  margin: 10px;
  padding-top: 2px;
  border-radius: 50%;
  border-color: #5580d5;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 19px;
  background-color: #5788e2;
  cursor: pointer;
}

.geek-details-info:hover {
  background-color: #134ebc;
}

.geek-detail {
  border-style: solid; 
  border-width: 1px; 
  border-color: #ccc; 
  width: 80px; 
  text-align: center; 
  font-size: 12px; 
  float: left;
}

.geek-detail-value {
  border-style: solid; 
  border-width: 2px;
  border-radius: 5px;
  border-color: #999;
  margin: 5px;
  padding: 0px;
  background-color: #d9e6d2;
  cursor: pointer;
}

.geek-details-wrapper .modal-title {
  font-size: 20px;
  font-weight: 700;
}

.geek-detail-value:hover {
  background-color: #93c47d;
}

.glyphicon.glyphicon-new-window.open-new-window {
  font-size: 14px;
  padding-left: 4px;
}

.read-time {
  padding-bottom: 10px;
  color: #666;

  &__icon {
    top: 2px;
  }
}

.main-content {
  $grid-column-gap: 20px;
  display: grid;
  grid-template-columns: [article] 100%;
  grid-column-gap: $grid-column-gap;

  .toc-container {
    display: none;
  }

  .sidebar-container {
    z-index: 1;
  }

  @media (max-width: $screen-xs-max) {
    .sidebar-container {
      padding-right: $grid-column-gap;
    }
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: [sidebar] 20% [article] calc(100% - 18% - 40px) auto;
  }

  @media (min-width: $screen-md-min) {
    $sidebars-width: 16%;
    grid-template-columns:
      [sidebar] $sidebars-width
      [article] calc(100% - #{$sidebars-width * 2} - #{$grid-column-gap * 2})
      [toc] $sidebars-width;

    .toc-container {
      display: block;
    }

    &.no-toc {
      grid-template-columns:
        [sidebar] $sidebars-width
        [article] calc(100% - #{$sidebars-width} - #{$grid-column-gap});
    }
  }
}

$search-height: 50px;
$max-sidebar-height: calc(100vh - #{$sticky-top + $search-height + $navbar-margin-bottom});
$max-toc-height: calc(100vh - #{$sticky-top + $navbar-margin-bottom});

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: $sticky-top;

  #sidebar-accordion {
    max-height: $max-sidebar-height;

    @media (min-width: $screen-sm-min) {
      overflow-y: auto;
    }
  }
}

.sticky-toc {
  position: -webkit-sticky;
  position: sticky;
  top: $sticky-top;

  .toc {
    max-height: $max-toc-height;

    @media (min-width: $screen-md-min) {
      overflow-y: auto;
    }
  }
}

#right-toc {
  padding-left: .5em;
  border-left: 1px solid #ddd;
}

.navbar-right {
  margin-right: 0;
}

.edit-page-link {
  color: #999;
  float: right;
  padding: 3px 10px;
}

.breadcrumb-item {
  font-size: 14px;
}

.general-tab-header {
  margin-bottom: 1em;
}

.table-header {
  background-color: #e6e6e6;
  color: #666;
}

#tigera-navbar-footer > ul > li.dropdown.version-combo > ul > li.divider {
  height: 5px !important;
  min-height: 5px !important;
  padding: 0;
  margin: 0;
}

#tigera-navbar-header ul.nav li a,
#tigera-navbar-footer ul.nav li a {
// Shrink as we approach hamburger mode
    @media (min-width: $screen-sm-min) and (max-width: 1260px) {
        padding: 0 6px;
        font-size: 13px;
    }
    @media (min-width: 1261px) and (max-width: 1265px) {
      padding: 0 10px;
    }
  
    padding: 0 20px;
    font-family: "Poppins", Poppins;
    font-size: 14px;
    font-weight: 700;    
    transition: .4s;    
    -webkit-font-smoothing: antialiased;        
}


#tigera-navbar-footer > ul > div {
    min-width: 4%;
    float:right;
    margin-right:40px;
}

.release-badge {
  margin-left: 5px;
}

.latest {
  background-color: #004078;
}

.nightly {
  background-color: #f0ad4e;
}
