{{- $config := getBGPConfig 4 . -}}

$local_ip = "{{$config.NodeIP}}"
$bgp_id = "{{$config.RouterID}}"
$local_asn = {{$config.ASNumber}}

$peerings =
{{- if eq "" $config.NodeIP}}
    # IPv4 is disabled on this node.
{{- else}}
    # IPv4 is enabled on this node.

    # ------------- Node-to-node mesh -------------
    {{- $have_mesh_peers := false}}
    {{- range $config.Peers}}
        {{- if eq .Type "mesh"}}
            {{- $have_mesh_peers = true}}
    @{ Name = "{{.Name}}"; IP = "{{.IP}}"; AS = {{.ASNumber}} },
        {{- end}}
    {{- end}}
    {{- if not $have_mesh_peers}}
    # No node-to-node mesh peers.
    {{- end}}

    # ------------- Global peers -------------
    {{- $have_global_peers := false}}
    {{- range $config.Peers}}
        {{- if eq .Type "global"}}
            {{- $have_global_peers = true}}
    @{ Name = "Global_{{join (split .IP ".") "_"}}"; IP = "{{.IP}}"; AS = {{.ASNumber}} },
        {{- end}}
    {{- end}}
    {{- if not $have_global_peers}}
    # No global peers configured.
    {{- end}}

    # ------------- Node-specific peers -------------
    {{- $have_node_peers := false}}
    {{- range $config.Peers}}
        {{- if eq .Type "node"}}
            {{- $have_node_peers = true}}
    @{ Name = "Node_{{join (split .IP ".") "_"}}"; IP = "{{.IP}}"; AS = {{.ASNumber}} },
        {{- end}}
    {{- end}}
    {{- if not $have_node_peers}}
    # No node-specific peers configured.
    {{- end}}
{{- end}}
    @{}
