[Unit]
Description=Calico per-node agent
Documentation=https://github.com/projectcalico/calico-containers
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
Delegate=true
CPUShares=512
MemoryLimit=1G
Environment="ETCD_AUTHORITY=127.0.0.1:2379"
Environment="FELIX_ETCDADDR=127.0.0.1:2379"
Environment="FELIX_ETCDSCHEME=http"
Environment="IP=<LOCAL_IPV4>"
Environment="IP6=<LOCAL_IPV6>"
ExecStart=/usr/bin/rkt run --inherit-env --stage1-image=/usr/share/rkt/stage1-fly.aci --insecure-options=image --volume=birdctl,kind=host,source=/var/run/calico,readOnly=false --mount volume=birdctl,target=/var/run/calico docker://calico/node
KillMode=mixed
Restart=always

[install]
WantedBy=multi-user.target
