.go-pkg-cache
build
dist
venv
env
certs
.idea
*.pyc
*~
.coverage
cover
*.tar
*.created
*.created-*
docker
**/*.sw[pon]
birdcl
.vagrant
calicoctl/calicoctl
bin
release
*.coverprofile
vendor
nosetests.xml
testfile.yaml
report/*.xml
Makefile.common*
config
