atomicwrites==1.4.1
attrs==25.4.0
cachetools==7.0.0
chardet==5.2.0
deepdiff==8.6.1
google-auth==2.48.0
jsonpickle==4.1.1
kubernetes==35.0.0
more-itertools==10.8.0
netaddr==1.3.0
oauthlib==3.3.1
#packaging - already provided by Alpine
pluggy==1.6.0
pyasn1-modules==0.4.2
pyasn1==0.6.2
#pyparsing - already provided by Alpine
pytest==9.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests-oauthlib==2.0.0
simplejson==3.20.2
six==1.17.0
termcolor==3.3.0
urllib3==2.6.3
wcwidth==0.5.3
websocket-client==1.9.0
