[Unit]
Description=Calico DHCP agent
After=syslog.target network.target

[Service]
User=root
ExecStart=/usr/bin/calico-dhcp-agent --config-file /etc/neutron/neutron.conf
Restart=always
RestartSec=3
LimitNOFILE=32000

[Install]
WantedBy=multi-user.target
