Source: calico
Section: net
Priority: optional
Maintainer: Project Calico Maintainers <maintainers@projectcalico.org>
Build-Depends: debhelper (>= 8.0.0), dh-systemd, python-all (>= 2.6), python-setuptools
XS-Python-Version: >= 2.6
Standards-Version: 3.9.4

Package: calico-common
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends},
 python-pyparsing,
 python-etcd (>= 0.4.1+calico.1),
 python-ijson (>= 2.2-1),
 python-datrie (>= 0.7-1),
 python-prometheus-client (>= 0.0.13-1~ubuntu14.04.1~ppa1),
 libyajl2 (>= 2.0.4-4),
 libdatrie1 (>= 0.2.8-1),
 python-msgpack (>= 0.3.0-1ubuntu3)
Description: Project Calico virtual networking for cloud data centers.
 Project Calico is an open source solution for virtual networking in
 cloud data centers. Its IP-centric architecture offers numerous
 advantages over other cloud networking approaches such as VLANs and
 overlays, including scalability, efficiency, and simplicity. It is
 designed for a wide range of environments including OpenStack,
 lightweight Linux containers (LXCs), bare metal, and Network Functions
 Virtualization (NFV).
 .
 This package provides common files.

Package: calico-felix
Architecture: all
Depends:
 calico-common (= ${binary:Version}),
 conntrack,
 ipset,
 net-tools,
 python-netaddr,
 python-gevent,
 python-posix-spawn,
 python-setuptools,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Description: Project Calico virtual networking for cloud data centers.
 Project Calico is an open source solution for virtual networking in
 cloud data centers. Its IP-centric architecture offers numerous
 advantages over other cloud networking approaches such as VLANs and
 overlays, including scalability, efficiency, and simplicity. It is
 designed for a wide range of environments including OpenStack,
 lightweight Linux containers (LXCs), bare metal, and Network Functions
 Virtualization (NFV).
 .
 This package provides the Felix component.
