#!/usr/bin/make -f

export CALICODEPS = none

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with python2,systemd

override_dh_install:
	install -d debian/tmp/usr/etc/calico
	install etc/*.cfg.example debian/tmp/usr/etc/calico
	install -d debian/tmp/usr/share/calico/bird
	install etc/bird/*.template debian/tmp/usr/share/calico/bird
	install -d debian/tmp/usr/bin
	install -m 755 etc/*.sh debian/tmp/usr/bin
	dh_install
