[Unit]
Description=marathon-lb
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill marathon-lb
ExecStartPre=-/usr/bin/docker rm marathon-lb
EnvironmentFile=/etc/sysconfig/marathon-lb
ExecStart=/usr/bin/docker run --name marathon-lb \
	--privileged \
	--net=host \
	-e PORTS=80 \
	mesosphere/marathon-lb:v1.4.3 sse --marathon http://localhost:8080 --group external

[Install]
WantedBy=multi-user.target
