apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: hostendpoints.projectcalico.org
spec:
  group: projectcalico.org
  names:
    kind: HostEndpoint
    listKind: HostEndpointList
    plural: hostendpoints
    singular: hostendpoint
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - name: v3
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              properties:
                expectedIPs:
                  items:
                    type: string
                  type: array
                  x-kubernetes-list-type: set
                interfaceName:
                  type: string
                node:
                  type: string
                ports:
                  items:
                    properties:
                      name:
                        type: string
                      port:
                        maximum: 65535
                        minimum: 0
                        type: integer
                      protocol:
                        anyOf:
                          - type: integer
                          - type: string
                        pattern: ^.*
                        x-kubernetes-int-or-string: true
                    required:
                      - name
                      - port
                      - protocol
                    type: object
                  type: array
                profiles:
                  items:
                    type: string
                  type: array
                  x-kubernetes-list-type: set
              type: object
          required:
            - metadata
            - spec
          type: object
      served: true
      storage: true
