.go-pkg-cache
build
dist/*
certs
.idea
*.pyc
.coverage
*.tar
*.created*
**/*.sw[pon]
*.coverprofile
nosetests.xml
testfile.yaml
report/*.xml
.empty
filesystem/etc/calico/confd/*
filesystem/code/*
filesystem/usr
bin
kubectl
/tests/k8st/kind
filesystem/included-source
config/
kubeconfig.yaml
./tests/k8st/infra/calico.yaml.tmp
apiserver.crt
apiserver.key
