---
layout: null
---
[Unit]
Description=Calico
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/calico
ExecStart=/usr/bin/docker run \
--net=host \
--privileged \
--name=calico-node \
--rm \
-e ETCD_ENDPOINTS=${ETCD_ENDPOINTS} \
-e CALICO_LIBNETWORK_ENABLED=true \
-v /lib/modules:/lib/modules \
-v /var/log/calico:/var/log/calico \
-v /run/docker/plugins:/run/docker/plugins \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /var/run/calico:/var/run/calico {{site.imageNames["node"]}}:{{site.data.versions[page.version].first.title}}


[Install]
WantedBy=multi-user.target
