# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.settings/
!.vscode/extensions.json
.idea
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build
lib
coverage
report
.npm
.eslintcache
BrowserStackLocal
output
report.json
junit
junit.xml