[Unit]
Description=Calico Felix agent
After=syslog.target network.target

[Service]
User=root
ExecStartPre=/bin/mkdir -p /var/run/calico
ExecStart=/usr/bin/calico-felix
KillMode=process
Restart=on-failure
LimitNOFILE=32000

[Install]
WantedBy=multi-user.target
