#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with systemd

override_dh_auto_clean:
	# Don't clean, because that would delete bin/calico-felix.

override_dh_auto_build:
	# No building required.

override_dh_auto_test:
	# No testing required.

override_dh_install:
	install -d debian/tmp/usr/etc/calico
	install etc/*.cfg.example debian/tmp/usr/etc/calico
	install -d debian/tmp/usr/share/calico/bird
	install -m 644 etc/bird/*.template debian/tmp/usr/share/calico/bird
	install -d debian/tmp/usr/bin
	install -m 755 bin/calico-felix etc/calico-diags etc/*.sh debian/tmp/usr/bin/
	install -d debian/tmp/usr/lib/calico/bpf
	install -m 644 bpf-apache/bin/*.o bpf-gpl/bin/*.o debian/tmp/usr/lib/calico/bpf/
	dh_install

# strip fails on some of our binaries, disable it.
override_dh_strip:
	true
