# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

Babel>=2.9.1 # BSD
eventlet>=0.31.0  # MIT
six>=1.10.0 # MIT
etcd3gw>=1.0.1 # Apache-2.0
