<nav id="toplevel-nav" class="navbar navbar-default navbar-fixed-top navbar-os">
	<div class="container-fluid tigera-navbar-header-container">
		<div class="navbar-header">
			<!-- Hamburger menu for mobile -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tigera-navbar-header" aria-expanded="false" aria-controls="tigera-navbar-header">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- Left brand image -->
			<a class="navbar-brand" href="https://www.tigera.io/">
				<img alt="Tigera" src="{{site.baseurl}}/images/tigera-logo.png" class="navbar-brand__tigera-logo">
			</a>
		</div>
		<div id="tigera-navbar-header" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span>Products</span>
						<span class="glyphicon glyphicon-menu-down sub-arrow" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li><a href="https://www.tigera.io/tigera-products/calico/">Calico Open Source</a></li>
						<li><a href="https://www.tigera.io/tigera-products/calico-cloud/">Calico Cloud</a></li>
						<li><a href="https://www.tigera.io/tigera-products/calico-enterprise/">Calico Enterprise</a></li>
						<li><a href="https://www.tigera.io/tigera-products/compare-products/">Compare Products</a></li>
						<li><a href="https://www.tigera.io/tigera-products/calico-cloud-pricing/">Pricing</a></li>
						<li><a href="https://www.tigera.io/tigera-products/why-calico/">Why Calico?</a></li>
					</ul>
				</li>
				<li class="dropdown-with-sub-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown-with-sub-menu" role="button" aria-haspopup="true" aria-expanded="false">
						<span>Solutions</span>
						<span class="glyphicon glyphicon-menu-down sub-arrow" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li class="sub-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="sub-dropdown">
								<span>Cloud Workload Protection</span>
								<span class="glyphicon glyphicon-menu-right sub-arrow" aria-hidden="true"></span>
								<ul class="dropdown-menu sub-menu">
									<li><a href="https://www.tigera.io/tigera-products/access-controls/">Workload Access Controls</a></li>
									<li><a href="https://www.tigera.io/tigera-products/cloud-microsegmentation/">Microsegmentation</a></li>
								</ul>
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="sub-dropdown">
								<span>Unified Control</span>
								<span class="glyphicon glyphicon-menu-right sub-arrow" aria-hidden="true"></span>
								<ul class="dropdown-menu sub-menu">
									<li><a class="white-space-normal" href="https://www.tigera.io/tigera-products/multi-cluster-cloud-networking-security-observability/">Multi-Cloud, Multi-cluster Networking, Security, Observability and Distros</a></li>
								</ul>
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-toggle white-space-normal" data-toggle="sub-dropdown">
								<span>Enterprise Security and Compliance</span>
								<span class="glyphicon glyphicon-menu-right sub-arrow" aria-hidden="true"></span>
								<ul class="dropdown-menu sub-menu">
									<li><a href="https://www.tigera.io/features/compliance-and-audit/">PCI, SOC2, HIPAA, GDPR</a></li>
									<li><a href="https://www.tigera.io/tigera-products/security-controls/">Enterprise Security Controls</a></li>
									<li><a href="https://www.tigera.io/tigera-products/threat-defense/">Intrusion Detection</a></li>
									<li><a href="https://www.tigera.io/tigera-products/zero-trust/">Zero Trust Security</a></li>
								</ul>
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="sub-dropdown">
								<span>Observability</span>
								<span class="glyphicon glyphicon-menu-right sub-arrow" aria-hidden="true"></span>
								<ul class="dropdown-menu sub-menu">
									<li><a href="https://www.tigera.io/tigera-products/observability-and-troubleshooting/">Observability and Troubleshooting</a></li>
									<li><a href="https://www.tigera.io/tigera-products/service-mesh/">Application Level Security and Observability</a></li>
								</ul>
							</a>
						</li>
						<li><a href="https://www.tigera.io/tigera-products/calico-cloud-pricing/">High-Availability</a></li>
						<li><a href="https://www.tigera.io/tigera-products/why-calico/">Shift Left Security</a></li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="sub-dropdown">
								<span>Environments</span>
								<span class="glyphicon glyphicon-menu-right sub-arrow" aria-hidden="true"></span>
								<ul class="dropdown-menu sub-menu ">
									<li><a href="https://www.tigera.io/partners/aws/">AWS EKS</a></li>
									<li><a href="https://www.tigera.io/partners/microsoft/">Azure AKS</a></li>
									<li><a href="https://www.tigera.io/partners/google/">Google GKE</a></li>
									<li><a href="https://www.tigera.io/partners/redhat/">Red Hat OpenShift</a></li>
									<li><a href="https://www.tigera.io/partners/rancher/">Rancher</a></li>
									<li><a href="https://www.tigera.io/partners/fortinet/">Fortinet</a></li>
									<li><a href="https://www.tigera.io/partners/mirantis/">Mirantis</a></li>
								</ul>
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-with-sub-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown-with-sub-menu" role="button" aria-haspopup="true" aria-expanded="false">
						<span>Learn</span>
						<span class="glyphicon glyphicon-menu-down sub-arrow" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li><a href="https://www.tigera.io/calico-documentation/">Documentation</a></li>
						<li><a href="https://www.tigera.io/events/">Events</a></li>
						<li><a href="https://www.tigera.io/resources/">Resource Center</a></li>
						<li><a href="https://www.tigera.io/blog/">Blog</a></li>
						<li class="sub-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="sub-dropdown">
								<span>Guides</span>
								<span class="glyphicon glyphicon-menu-right sub-arrow" aria-hidden="true"></span>
								<ul class="dropdown-menu sub-menu">
									<li><a href="https://www.tigera.io/learn/guides/container-security/">Container Security</a></li>
									<li><a href="https://www.tigera.io/learn/guides/cloud-native-security//">Cloud-Native Security</a></li>
									<li><a href="https://www.tigera.io/learn/guides/cloud-security/">Cloud Security</a></li>
									<li><a href="https://www.tigera.io/learn/guides/kubernetes-security/">Kubernetes Security</a></li>
									<li><a href="https://www.tigera.io/learn/guides/devsecops/">DevSecOps</a></li>
									<li><a href="https://www.tigera.io/learn/guides/zero-trust/">Zero Trust</a></li>
									<li><a href="https://www.tigera.io/learn/guides/kubernetes-monitoring/">Kubernetes Monitoring</a></li>
									<li><a href="https://www.tigera.io/learn/guides/prometheus-monitoring/">Prometheus Monitoring</a></li>
									<li><a href="https://www.tigera.io/learn/guides/kubernetes-networking/">Kubernetes Networking</a></li>
									<li><a href="https://www.tigera.io/learn/guides/ebpf/">eBPF</a></li>
								</ul>
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span>Company</span>
						<span class="glyphicon glyphicon-menu-down sub-arrow" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li><a href="https://www.tigera.io/about/">About</a></li>
						<li><a href="https://www.tigera.io/partners/">Partners</a></li>
						<li><a href="https://www.tigera.io/media/">Newsroom</a></li>
						<li><a href="https://www.tigera.io/careers/">Careers</a></li>
						<li><a href="https://www.tigera.io/contact/">Contact</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid tigera-navbar-footer-container">
		<div class="navbar-header">
			<!-- Hamburger menu for mobile -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tigera-navbar-footer" aria-expanded="false" aria-controls="tigera-navbar-footer">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="modal" data-target="#SearchModal">
				<span class="sr-only">Toggle Search</span>
				<span class="icon-search glyphicon glyphicon-search"></span>
			</button>
			<!-- Left brand image -->
			<a class="navbar-brand" href="https://www.tigera.io/project-calico/">
				<img alt="Calico" src="{{site.baseurl}}/images/calico-logo.svg" class="navbar-brand__calico-logo">
			</a>
		</div>
		<div id="tigera-navbar-footer" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="https://www.tigera.io/project-calico/">Project Calico</a></li>
				<li><a href="https://www.tigera.io/project-calico/community/">Community</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span>Support</span>
						<span class="glyphicon glyphicon-menu-down sub-arrow" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-left">
							<li><a href="https://www.tigera.io/project-calico/community/">Community Support</a></li>
							<li><a href="https://www.tigera.io/security-bulletins/">Security Bulletins</a></li>
							<li><a href="https://www.tigera.io/vulnerability-disclosure/">Report Security Issue</a></li>
					</ul>
				</li>
				<li><a href="https://github.com/projectcalico/calico">GitHub</a></li>
				<li>
					<a href="https://www.tigera.io/lp/calico-certification" class="get-certified">Get Certified</a>
				</li>
				<div class="search col-xs-none">
					<div class="controls">
						<i class="fa fa-search form-control-feedback-left"></i>
						<input id="mainpage-searchbox" class="form-control input-sm" readonly placeholder="Search" data-toggle="modal" data-target="#SearchModal"/>
					</div>
				</div>
				<li class="dropdown version-combo">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span>{% if site.data.versions.first.title == "master" %}nightly{% else %}{{site.data.versions.first.title | regex_replace: site.version_pattern,"Version \1" }}{% endif %}</span>
						<span class="glyphicon glyphicon-menu-down sub-arrow" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="nav-version-dropdown" style="margin:0"></ul>
				</li>
			</ul>
		</div>
	</div>
</nav>